doctype html
html(lang="en")
  head
    title= "Riverflow testing page."
    link(href='../css/main.css', rel="stylesheet", type="text/css")
  body
    nav
        a(href='#content').rf-sr-only.rf-sr-focus Skip to main content. This will be visible only on focus.
    #content.container
      .row
      .col
        h1 Riverflow test page.
        h2 This page is only present to test various components and the grid.
        p.
          Riverflow is an AY11-first grid system and framework. #[a(href='#') This link will be focused.]
          