// args: $start to define the first part of the class name
//       $suffixes to define the subsequent parts of the class name

@function rf-class-name($start, $suffixes...) {
  $suffix: '';

  @each $arg in $suffixes {
      @if $arg != '' {
        $suffix: $suffix + '-' + $arg;
      }
  }

  @return $start + $suffix;
}

// returns the breakpoint size given its key
@function get-breakpoint-size($key, $breakpoints: $rf-grid-breakpoints) {
    @return map-get($breakpoints, $key);
}

// returns the infix breakpoint string to be used in the grid loop.
// by default skips 'xs' and doesn't write its infix.
@function get-col-infix($infix) {
    $infix-value: get-breakpoint-size($infix);

    @if ($infix-value > 0) {
        @return $infix;
    }

    @return '';
}

// returns column size
@function get-col-width($col-index, $columns: $rf-grid-columns) {
    @return percentage($col-index / $columns);
}

// Credits to https://stackoverflow.com/a/30740182
// Allows merging of multiple maps
@function rf-map-collect($maps...) {
  $collection: ();

  @each $map in $maps {
    $collection: map-merge($collection, $map);
  }
  
  @return $collection;
}
