
// These two variables are used in the css-variables mixin.
// WARNING: If both are set to 'false' no CSS will be compiled!
$rf-enable-css-variables-fallback: true !default; // enables fallback for older browser that don't support CSS Variables.
$rf-enable-css-variables: true !default;

$rf-grid-columns: 12 !default;
$rf-grid-prefix: 'col' !default; // without 'dot'

$rf-grid-gutter: 30px !default;

$rf-grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
) !default;

$rf-container-widths: (
    container-width-xs: map-get($rf-grid-breakpoints, xs) - $rf-grid-gutter,
    container-width-sm: map-get($rf-grid-breakpoints, sm) - $rf-grid-gutter,
    container-width-md: map-get($rf-grid-breakpoints, md) - $rf-grid-gutter,
    container-width-lg: map-get($rf-grid-breakpoints, lg) - $rf-grid-gutter,
    container-width-xl: map-get($rf-grid-breakpoints, xl) - $rf-grid-gutter,
    container-width-xxl: map-get($rf-grid-breakpoints, xxl) - $rf-grid-gutter,
) !default;

$rf-displays: (
    none,
    block,
    flex,
    inline-block,
) !default;

$rf-sides-automatic-margins: (
    y: ('top', 'bottom'),
    x: ('right', 'left'),
) !default;

$rf-sides: map-merge((
    t: 'top',
    r: 'right',
    b: 'bottom',
    l: 'left',
), $rf-sides-automatic-margins) !default;

$rf-sizes: (
    'size-0': 0,
    'size-1': 0.5rem,
    'size-2': 1rem,
    'size-3': 1.5rem,
) !default;

$rf-font-families: (
  "font-family-headings": "'Times New Roman', serif",
  "font-family-base": "Helvetica, Arial, sans-serif",
) !default;

$rf-css-variables: rf-map-collect(
  $rf-theme-colors,
  $rf-font-families,
  $rf-sizes,
  $rf-container-widths,
) !default;
