
$rf-grid-columns: 12 !default;

$rf-grid-gutter: 3rem !default;

$rf-grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
) !default;

$rf-displays: (
    none,
    block,
    flex,
    inline-block,
) !default;

$rf-sides-automatic-margins: (
    y: ('top', 'bottom'),
    x: ('right', 'left'),
) !default;

$rf-sides: map-merge((
    t: 'top',
    r: 'right',
    b: 'bottom',
    l: 'left',
), $rf-sides-automatic-margins) !default;

$rf-sizes: (
    1: 0.5rem,
    2: 1rem,
    3: 1.5rem,
) !default;
